* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bg-light{
    background-color: white;
}
ul {
    gap: 2rem;
}
li a{
    color: black !important;
    font-size: 20px;
}
.lottie {
    width: 50%;
}

.slide {
    align-items: center;
    display: flex;
    justify-content: justify;
}

.heading h1 {
    font-size: 55px;
}

.button button {
    font-size: 21px;
    font-weight: 500;
    border-radius: 20px;
    border: 2px solid darkblue;
    background-color: white;
    padding: 4px 15px;
}

/* --about-- */
.section2 {
    text-align: center;
}

.about {
    padding: 5% 12%;
    width: 100%;
    text-align: center;
}

.about p {
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: 500;
    word-spacing: 2px;
    margin: 4%;
}

.row {
    display: flex;
    justify-content: space-between;
    gap: 5%;
    margin: 5% 0;
    justify-content: center;
    text-align: center;
}

.course-col {
    width: 400px;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.4);
}

.section3 {
    text-align: center;
}

/* --Gallery-- */
.grid-container {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px,3fr));
    gap: 2rem;
    padding: 2rem;
}
.grid-element{
    text-align: center;
}
.grid-element img{
border-radius: 10px;
  padding: 3rem;
  color: #fff;
  border-radius: 10px;
}
.carousel{
    text-align: center;
justify-content: center;
}
.footer{
    height: 40vh;
    background-color: rgb(236, 236, 236);
}
.container2{
    padding-top: 5%;
    display: flex;
    justify-content: space-around;
}

/* --media queries-- */
@media(max-width:1100px){
   .slide{
    display: flex;
    flex-direction: column;
   }
 
}
@media(max-width:1000px){
    .about{
        padding-top: 5%;
    }
    .slide{
       text-align: center;
        margin-bottom: 5%;
    }
    .lottie{
      height:;
      width:;
    }
}
@media(max-width:700px){
    .grid-element img{
        padding: 0;
    }
    .footer{
        height:max-content;
       padding: 2% 7%;
    }
    .div1{
        display: none;
    }
    .container2{
        display: flex;
        flex-direction: column;
    }
    .heading{
        font-size: 30px;
    }
}
@media(max-width:450px){
    .grid-element{
        width: 30%;
    }
    .heading h1{
        font-size: 25px;
    }
    .about p{
        font-size: 16px;
    }
}